body {
  margin: 0;
  padding: 0;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(24, 152, 24, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
  display: grid;
  place-items: center;
  color: #1e1e1f;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

#root {
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
}
