.container-button {
  margin-top: 70px;
  margin-bottom: 70px;
  width: 75%;
  display: flex;
  justify-content: left;
}
.CreateTodoButton {
  font-size: medium;
  border-radius: 8px;
  border: none;
  padding: 15px;
  background-color: #984caf;
  font-weight: bold;
  cursor: pointer;
  transition: transform .2s;
}
.CreateTodoButton:hover{
  transform: scale(1.1)
}
